{% extends 'main/base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
    <h1>Add New {{ page_name|title }}</h1>

    {% include 'main/messages.html' %}

    <form action="" method="post">
        {% csrf_token %}

        <div id="form_content">
            {% include 'main/errors.html' with errors=form.non_field_errors %}

            {% for field in form.visible_fields %}
                <div>
                    {{ field.label_tag }}

                    <span>
                        {{ field }}
                    </span>

                    <em>
                        {{ field.help_text }}
                    </em>

                    {% include 'main/errors.html' with errors=field.errors %}
                </div>
            {% endfor %}

            {% for field in form.hidden_fields %}
                <div>
                    {{ field }}
                </div>
            
                {% include 'main/errors.html' with errors=field.errors %}
            {% endfor %}

            <fieldset>
                <legend>Transaction Items</legend>

                {{ formsets.management_form }}
            
                {% include 'main/errors.html' with errors=formsets.non_form_errors %}

                {% for group in formsets_group.forms %}
                    
                    {% include 'main/errors.html' with errors=group.formset.non_field_errors %}
                    
                    <div class="formset-row">
                        {% for field in group.formset.visible_fields %}
                            {{ field.label_tag }}

                            <span>
                                {{ field }}
                            </span>

                            <em>
                                {{ field.help_text }}
                            </em>
                    
                            {% include 'main/errors.html' with errors=field.errors %}
                        {% endfor %}

                        {% for field in group.formset.hidden_fields %}
                            {{ field }}
                        
                            {% include 'main/errors.html' with errors=field.errors %}
                        {% endfor %}

                        {% for code_form in group.code_forms %}
                            <fieldset>
                                <legend>{{ code_form.name|title }}</legend>
                                
                                {% include 'main/errors.html' with errors=code_form.form.non_field_errors %}
                    
                                {% for field in code_form.form.visible_fields %}
                                    {{ field.label_tag }}

                                    <span>
                                        {{ field }}
                                    </span>

                                    <em>
                                        {{ field.help_text }}
                                    </em>
                    
                                    {% include 'main/errors.html' with errors=field.errors %}
                                {% endfor %}
                                
                                {% for field in code_form.form.hidden_fields %}
                                    {{ field }}
                        
                                    {% include 'main/errors.html' with errors=field.errors %}
                                {% endfor %}
                                <hr>
                            </fieldset>
                        {% endfor %}
                    </div>

                    <hr>
                {% endfor %}

                <div>
                    <button id="add-formset-row">{{ formset_button }}</button>
                </div>
            </fieldset>
        </div>

        <div class="right_align">
            <button type="submit">Save changes to {{ page_name|lower }}</button>
        </div>
    </form>
{% endblock %}

{% block js %}
    {% include 'main/formset_template.html' %}
    
    <script type="text/javascript" src="{% static 'js/add_formset.js' %}"></script>
{% endblock %}