{% extends 'main/base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
    <h1>Add New {{ page_name|title }}</h1>

    {% include 'main/messages.html' %}
	
    <form action="" method="post">
        {% csrf_token %}

        <div id="form_content">
            {% for field in form %}
            <div>
                {{ field.label_tag }}

                <span>
                    {{ field }}
                </span>
                <em>
                    {{ field.help_text }}
                </em>

                {% if field.errors %}
                <ul class="message_list">
                    {% for error in field.errors %}
                    <li class="level_40">{{ error|striptags }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {% endfor %}

            <fieldset>
                <legend>Transaction items</legend>

                {% for form in formset %}
                    {% for field in form %}
                        <div class="item-row">
                            {{ field.label_tag }}

                            <span>
                                {{ field }}
                            </span>
                            <em>
                                {{ field.help_text }}
                            </em>

                            {% if field.errors %}
                            <ul class="message_list">
                                {% for error in field.errors %}
                                <li class="level_40">{{ error|striptags }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    {% endfor %}
                
                    <hr>
                {% endfor %}
                
                <div>
                    <button id="add-item-row">Add item</button>
                </div>
            </fieldset>


            {{ formset.management_form }}
        </div>
        
        <div class="right_align">
            <button type="submit">Add new {{ page_name|lower }}</button>
        </div>
    </form>
{% endblock %}

{% block js %}
    <script type="text/html" id="item-form-template">
        {% for field in formset.empty_form %}
            <div>
                {{ field.label_tag }}

                <span>
                    {{ field }}
                </span>
                <em>
                    {{ field.help_text }}
                </em>
            </div>
        {% endfor %}

        <hr>
    </script>
    <script type="text/javascript" src="{% static 'transactions/js/add_edit_functions.js' %}"></script>
{% endblock %}