{% extends 'main/base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
    <h1>Add New {{ page_name|title }}</h1>

    {% include 'main/messages.html' %}
    
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% with forms.forms as form %}
            <div id="form_content">
                {% include 'main/errors.html' with errors=form.transaction_form.non_field_errors %}

                {% for field in form.transaction_form.visible_fields %}
                    <div>
                        {{ field.label_tag }}

                        <span>
                            {{ field }}
                        </span>

                        <em>
                            {{ field.help_text }}
                        </em>

                        {% include 'main/errors.html' with errors=field.errors %}
                    </div>
                {% endfor %}

                {% for field in form.transaction_form.hidden_fields %}
                    <div>
                        {{ field }}
                    </div>
            
                    {% include 'main/errors.html' with errors=field.errors %}
                {% endfor %}

                <fieldset>
                    <legend>Transaction Items</legend>

                    {{ form.item_formset.management_form }}
            
                    {% with form.item_formsets as formsets %}
                        {% include 'main/errors.html' with errors=form.item_formset.non_form_errors %}

                        {% for group in formsets %}
                            {% include 'main/errors.html' with errors=group.formset.non_field_errors %}
                    
                            <div class="formset-row">
                                {% for field in group.item_formset.visible_fields %}
                                    {{ field.label_tag }}

                                    <span>
                                        {{ field }}
                                    </span>

                                    <em>
                                        {{ field.help_text }}
                                    </em>
                    
                                    {% include 'main/errors.html' with errors=field.errors %}
                                {% endfor %}

                                {% for field in group.item_formset.hidden_fields %}
                                    {{ field }}
                        
                                    {% include 'main/errors.html' with errors=field.errors %}
                                {% endfor %}

                                {% for financial_code_form in group.financial_code_forms %}
                                    <fieldset>
                                        <legend>{{ financial_code_form.system }}</legend>
                                
                                        {% include 'main/errors.html' with errors=financial_code_form.form.non_field_errors %}
                    
                                        {% for field in financial_code_form.form.visible_fields %}
                                            {{ field.label_tag }}

                                            <span>
                                                {{ field }}
                                            </span>

                                            <em>
                                                {{ field.help_text }}
                                            </em>
                    
                                            {% include 'main/errors.html' with errors=field.errors %}
                                        {% endfor %}
                                
                                        {% for field in financial_code_form.form.hidden_fields %}
                                            {{ field }}
                        
                                            {% include 'main/errors.html' with errors=field.errors %}
                                        {% endfor %}
                                        <hr>
                                    </fieldset>
                                {% endfor %}
                            </div>
                            
                            <hr>
                        {% endfor %}
                    {% endwith %}

                    <div>
                        <button id="add-formset-row">Add item</button>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Attachments</legend>

                    <div>
                        {% for field in form.new_attachment_form.visible_fields %}
                            {{ field.label_tag }}

                            <span>
                                {{ field }}
                            </span>

                            <em>
                                {{ field.help_text }}
                            </em>
                    
                            {% include 'main/errors.html' with errors=field.errors %}
                        {% endfor %}

                        {% for field in form.attachment_form.hidden_fields %}
                            {{ field }}
                        
                            {% include 'main/errors.html' with errors=field.errors %}
                        {% endfor %}
                    </div>
                    
                    <ul>
                        {{ form.old_attachment_formset.management_form }}
                        {% for attachment_form in form.old_attachment_formset %}
                            <li>
                                <a href="{{ attachment_form.instance.attachment.location.url }}" target="_blank">
                                    {{ attachment_form.instance.attachment }}
                                </a> 
                                - Delete? {{ attachment_form.DELETE }}

                                {% for field in attachment_form.hidden_fields %}
                                    {{ field }}
                            
                                    {% include 'main/errors.html' with errors=field.errors %}
                                {% endfor %}
                            </li>
                        {% endfor %}
                        </ul>
                </fieldset>
            </div>

            <div class="right_align">
                <button type="submit">Add new {{ page_name|lower }}</button>
            </div>
        {% endwith %}
    </form>
{% endblock %}

{% block js %}
    {% include 'transactions/formset_template.html' %}
    
    <script type="text/javascript" src="{% static 'js/add_formset.js' %}"></script>
    <script type="text/javascript" src="{% static 'transactions/js/add_edit_functions.js' %}"></script>
{% endblock %}