{% extends 'main/base.html' %}

{% block content %}
    <h1>Branch Transactions</h1>

    {% include 'main/messages.html' %}

    <ul>
        <li>All</li>
        <li>Expenses</li>
        <li>Revenue</li>
    </ul>

    <div>
        <a href="{% url 'transaction_add' 'expense' %}">New expense</a>
        <a href="{% url 'transaction_add' 'revenue' %}">New revenue</a>
    </div>

    <div>
        <a href="">Submit to transactions to CSHP</a>
    </div>

    <div>
        <h2>Transaction List</h2>
        <ul>
            {% for transaction in transactions %}
                {% if transaction.transaction_type == "e" %}
                    <li class="expense">
                        {{ transaction }} - 
                        <a href="{% url 'transaction_edit' 'expense' transaction.id %}">Edit</a> -
                        <a href="{% url 'transaction_delete' 'expense' transaction.id %}">Delete</a>
                        <ul>
                            {% for item in transaction.item_set.all %}
                                <li>
                                    {{ item }}
                                    <ul>
                                        {% for financial_code in item.financialcodematch_set.all %}
                                            <li>{{ financial_code.financial_code }}</li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% elif transaction.transaction_type == "r" %}
                    <li class="revenue">
                        {{ transaction }} - 
                        <a href="{% url 'transaction_edit' 'revenue' transaction.id %}">Edit</a> -
                        <a href="{% url 'transaction_delete' 'revenue' transaction.id %}">Delete</a>
                        <ul>
                            {% for item in transaction.item_set.all %}
                                <li>{{ item }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}