{% extends "base_generic.html" %}

{% block styles %}
	<style>
		#sb .input_table tbody th {
			padding: 0.4rem 2rem 0.4rem 0;
			text-align: left;
		}

		#sb .input_table tfoot td {
			text-align: right;
		}
	</style>
{% endblock %}

{% block content %}
	 <h1><a href="{% url 'account_profile' %}">Your Profile</a> &gt; Set Password</h1>

	<div class="center_content">
		<div>
			<form method="POST" action="{% url 'account_set_password' %}" class="password_set">
				{% csrf_token %}

				<table class="input_table">
					<thead>
						<tr>
							<td colspan="2">
								{% include 'account/snippets/message_display.html' %}
							</td>
						</tr>
					</thead>

					<tbody>
						{% for field in form %}
							<tr>
								<th>{{ field.label_tag }}</th>
								<td>{{ field }}</td>
							</tr>
						{% endfor %}
					</tbody>

					<tfoot>
						<tr>
							<td colspan="2">
								<input type="submit" name="action" value="Set Password"/>
							</td>
						</tr>
					</tfoot>
				</table>
			</form>
		</div>
	</div>
{% endblock %}