{% extends "base_generic.html" %}

{% load static %}

{% block styles %}
	<style>
		#sb .input_table tbody th {
			padding: 0.4rem 2rem 0.4rem 0;
			text-align: left;
		}

		#sb .input_table tfoot td {
			text-align: right;
		}
	</style>
{% endblock %}

{% block content %}
	{% if token_fail %}
		<h1>Bad Token" %}</h1>
	{% else %}
		<h1>Change Password</h1>
	{% endif %}

	{% include 'account/snippets/message_display.html' %}

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>
			The password reset link was invalid, possibly because it has 
			already been used.  Please request a 
			<a href="{{ passwd_reset_url }}">new password reset</a>.
		</p>
    {% else %}
        {% if form %}
			<div class="center_content">
				<form method="POST" action="{{ action_url }}">
					{% csrf_token %}

					<table>
						<thead>
							<tr>
								<td colspan="2">
									{% include 'account/snippets/message_display.html' %}
								</td>
							</tr>
						</thead>

						<tbody>
							{% for field in form %}
								<tr>
									<th>{{ field.label_tag }}</th>
									<td>{{ field }}</td>
								</tr>
							{% endfor %}
						</tbody>

						<tfoot>
							<tr>
								<td colspan="2">
									<input type="submit" name="action" value="change password"/>
								</td>
							</tr>
						</tfoot>
					</table>
				</form>
			</div>
        {% else %}
            <p>Your password is now changed.</p>
        {% endif %}
    {% endif %}
{% endblock %}