{% extends 'main/base.html' %}

{% load static %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static '/css/forms.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'transactions/css/forms_custom.css' %}">

  <style>
    #transaction-items {
      display: grid;
      grid-gap: 5px;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }

    .header-date, .header-description, .header-amount, .header-gst,
    {% for financial_code_form in forms.empty_financial_code_form %}.header-{{ financial_code_form.name|lower }}, .header-{{ financial_code_form.name|lower }}-year, .header-{{ financial_code_form.name|lower }}-code{% if forloop.last %}{% else %}, {% endif %}{% endfor %} {
      display: none;
    }

    @media screen and (min-width: 1024px) {
      #transaction-items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
          "header-date header-description header-amount header-gst {% for financial_code_form in forms.empty_financial_code_form %}header-{{ financial_code_form.name|lower }} header-{{ financial_code_form.name|lower }} {% endfor %}"
          "header-date header-description header-amount header-gst {% for financial_code_form in forms.empty_financial_code_form %}header-{{ financial_code_form.name|lower }}-year header-{{ financial_code_form.name|lower }}-code {% endfor %}"
          ". . . . . . . ."
      }
      .header-date {
        display: block;
        grid-area: header-date;
      }

      .header-description {
        display: block;
        grid-area: header-description;
      }

      .header-amount {
        display: block;
        grid-area: header-amount;
      }

      .header-gst {
        display: block;
        grid-area: header-gst;
      }

      {% for financial_code_form in forms.empty_financial_code_form %}
        .header-{{ financial_code_form.name|lower }} {
          display: block;
          grid-area: header-{{ financial_code_form.name|lower }};
        }
        .header-{{ financial_code_form.name|lower }}-year {
          display: block;
          grid-area: header-{{ financial_code_form.name|lower }}-year;
        }
        .header-{{ financial_code_form.name|lower }}-code {
          display: block;
          grid-area: header-{{ financial_code_form.name|lower }}-code;
        }
      {% endfor %}

      .add {
        grid-area: add;
      }
    }

  </style>
{% endblock %}

{% block content %}
  <h1>Add New {{ page_name|title }}</h1>

  {% include 'main/messages.html' %}

  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% with forms.forms as form %}
      {% include 'main/errors.html' with errors=form.transaction_form.non_field_errors %}

      <div class="flex-col flex-ctr-m flex-ctr-l payee">
        <div class="input-flex-col">
          {% include 'main/input_field.html' with field=form.transaction_form.payee_payer %}
        </div>

        <div class="input-flex-col memo">
          {% include 'main/input_field.html' with field=form.transaction_form.memo %}
        </div>

        <div class="input-flex-col submission-date">
          {% include 'main/input_field.html' with field=form.transaction_form.date_submitted %}
        </div>

        {% for field in form.transaction_form.hidden_fields %}
          {{ field }}
        {% endfor %}
      </div>

        <fieldset id="transaction-items">
          <legend>Transaction Items</legend>

          <!-- Header for table view -->
          {% with forms.forms.item_formset.empty_form as header %}
            <div class="header-date">{{ header.date_item.label }}</div>
            <div class="header-description">{{ header.description.label }}</div>
            <div class="header-amount">{{ header.amount.label }}</div>
            <div class="header-gst">{{ header.gst.label }}</div>

            {% with forms.empty_financial_code_form.0 as financial_code_form %}
              <div class="header-{{ financial_code_form.name|lower }}">{{ financial_code_form.name }}</div>
              <div class="header-{{ financial_code_form.name|lower }}-year">{{ financial_code_form.form.budget_year.label }}</div>
              <div class="header-{{ financial_code_form.name|lower }}-code">{{ financial_code_form.form.code.label }}</div>
            {% endwith %}

            {% with forms.empty_financial_code_form.1 as financial_code_form %}
              <div class="header-{{ financial_code_form.name|lower }}">{{ financial_code_form.name }}</div>
              <div class="header-{{ financial_code_form.name|lower }}-year">{{ financial_code_form.form.budget_year.label }}</div>
              <div class="header-{{ financial_code_form.name|lower }}-code">{{ financial_code_form.form.code.label }}</div>
            {% endwith %}
          {% endwith %}

          {% with form.item_formsets as formsets %}
            {% include 'main/errors.html' with errors=form.item_formset.non_form_errors %}

            {% for group in formsets %}
              {% include 'main/errors.html' with errors=group.formset.non_field_errors %}

              <div class="date">
                {% include 'main/input_field.html' with field=group.item_formset.date_item %}
              </div>

              <div class="description">
                {% include 'main/input_field.html' with field=group.item_formset.description %}
              </div>

              <div class="amount">
                {% include 'main/input_field.html' with field=group.item_formset.amount %}
              </div>

              <div class="gst">
                {% include 'main/input_field.html' with field=group.item_formset.gst %}
              </div>

              {% for field in group.item_formset.hidden_fields %}
                {{ field }}
              {% endfor %}

              {% for financial_code_form in group.financial_code_forms %}
                {% include 'main/errors.html' with errors=financial_code_form.form.non_field_errors %}

                <div>
                  {% include 'main/input_field.html' with field=financial_code_form.form.budget_year %}
                </div>

                <div>
                  {% include 'main/input_field.html' with field=financial_code_form.form.code %}
                </div>

                {% for field in financial_code_form.form.hidden_fields %}
                  {{ field }}
                {% endfor %}
              {% endfor %}
            {% endfor %}
          {% endwith %}
        </fieldset>

        <div class="add">
          <button id="add-item">Add item</button>
        </div>

        {{ form.item_formset.management_form }}

        <fieldset>
          <legend>Attachments</legend>
          <!-- TODO: Improve UI for this drag and drop box -->
          <div class="flex-col flex-ctr-m flex-ctr-l">
            <label for="{{ form.new_attachment_form.attachment_files.id_for_label }}" id="attachment-drop-zone" class="input-flex-col">
                Drag attachments here or click the button below

              {{ form.new_attachment_form.attachment_files }}
              {% include 'main/errors.html' with errors=form.new_attachment_form.attachment_files.errors %}
            </label>

            {% for field in form.attachment_form.hidden_fields %}
              {{ field }}
            {% endfor %}
          <div>

          <ul>
            {{ form.old_attachment_formset.management_form }}

            {% for attachment_form in form.old_attachment_formset %}
              <li>
                <a href="{{ attachment_form.instance.attachment.location.url }}" target="_blank">
                  {{ attachment_form.instance.attachment }}
                </a>
                - Delete? {{ attachment_form.DELETE }}

                {% for field in attachment_form.hidden_fields %}
                  {{ field }}
                  {% include 'main/errors.html' with errors=field.errors %}
                {% endfor %}
              </li>
            {% endfor %}
          </ul>
        </fieldset>

        <div class="right-align">
          <button type="submit">Add new {{ page_name|lower }}</button>
        </div>
      </div>
    {% endwith %}
  </form>
{% endblock %}

{% block js %}
  {% include 'transactions/formset_template.html' %}

  <script type="text/javascript" src="{% static 'js/form_functions.js' %}"></script>
  <script type="text/javascript" src="{% static 'transactions/js/add_edit_functions.js' %}"></script>
{% endblock %}
