{% extends 'main/base.html' %}

{% load static %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">

  <style>
    .payee {
      flex: 0 2 350px;
    }

    .memo {
      flex: 0 2 350px;
    }

    .submission-date {
      flex: 0 1 200px;
    }

      /* TODO: Remove !important when finished form styling */
      .submission-date input {
        width: 9rem !important;
      }

    .date {
      flex: 0 1 100px;
    }

      .date input {
        width: 9rem !important;
      }

    .description {
      flex: 0 2 350px;
    }

    .amount {
      flex: 0 1 150px;
    }

      /* TODO: Remove !important when finished form styling */
      .amount input {
        width: 9rem !important;
      }

    .gst {
      flex: 0 1 150px;
    }

      /* TODO: Remove !important when finished form styling */
      .gst input {
        width: 9rem !important;
      }
  </style>
{% endblock %}

{% block content %}
  <h1>Add New {{ page_name|title }}</h1>

  {% include 'main/messages.html' %}

  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% with forms.forms as form %}
      <div id="form_content">
        {% include 'main/errors.html' with errors=form.transaction_form.non_field_errors %}

        <div class="flex-col flex-ctr-m flex-ctr-l payee">
          <div class="input-flex-col">
            {% include 'main/input_field.html' with field=form.transaction_form.payee_payer %}
          </div>

          <div class="input-flex-col memo">
            {% include 'main/input_field.html' with field=form.transaction_form.memo %}
          </div>

          <div class="input-flex-col submission-date">
            {% include 'main/input_field.html' with field=form.transaction_form.date_submitted %}
          </div>

          {% for field in form.transaction_form.hidden_fields %}
            {{ field }}
          {% endfor %}
        </div>

        <fieldset>
          <legend>Transaction Items</legend>

          {{ form.item_formset.management_form }}

          {% with form.item_formsets as formsets %}
            {% include 'main/errors.html' with errors=form.item_formset.non_form_errors %}

            {% for group in formsets %}
              <div class="formset-row">
                {% include 'main/errors.html' with errors=group.formset.non_field_errors %}

                <div class="flex-col flex-ctr-m flex-ctr-l">
                  <div class="input-flex-col date">
                    {% include 'main/input_field.html' with field=group.item_formset.date_item %}
                  </div>

                  <div class="input-flex-col description">
                    {% include 'main/input_field.html' with field=group.item_formset.description %}
                  </div>

                  <div class="input-flex-col amount">
                    {% include 'main/input_field.html' with field=group.item_formset.amount %}
                  </div>

                  <div class="input-flex-col gst">
                    {% include 'main/input_field.html' with field=group.item_formset.gst %}
                  </div>

                  {% for field in group.item_formset.hidden_fields %}
                    {{ field }}
                  {% endfor %}
                </div>

                <div class="flex-col flex-ctr-m flex-ctr-l">
                  {% for financial_code_form in group.financial_code_forms %}
                    <fieldset>
                      <legend>{{ financial_code_form.system }}</legend>

                      {% include 'main/errors.html' with errors=financial_code_form.form.non_field_errors %}

                      <div class="input-flex-col">
                        {% include 'main/input_field.html' with field=financial_code_form.form.budget_year %}
                      </div>

                      <div class="input-flex-col">
                        {% include 'main/input_field.html' with field=financial_code_form.form.code %}
                      </div>

                      {% for field in financial_code_form.form.hidden_fields %}
                        {{ field }}
                      {% endfor %}
                    </fieldset>
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
          {% endwith %}

          <hr>

          <div>
            <button id="add-formset-row">Add item</button>
          </div>
        </fieldset>

        <fieldset>
          <legend>Attachments</legend>
          <!-- TODO: Improve UI for this drag and drop box -->
          <div class="flex-col flex-ctr-m flex-ctr-l">
            <label for="{{ form.new_attachment_form.attachment_files.id_for_label }}" id="attachment-drop-zone" class="input-flex-col">
                Drag attachments here or click the button below

              {{ form.new_attachment_form.attachment_files }}
              {% include 'main/errors.html' with errors=form.new_attachment_form.attachment_files.errors %}
            </label>

            {% for field in form.attachment_form.hidden_fields %}
              {{ field }}
            {% endfor %}
          <div>

          <ul>
            {{ form.old_attachment_formset.management_form }}

            {% for attachment_form in form.old_attachment_formset %}
              <li>
                <a href="{{ attachment_form.instance.attachment.location.url }}" target="_blank">
                  {{ attachment_form.instance.attachment }}
                </a>
                - Delete? {{ attachment_form.DELETE }}

                {% for field in attachment_form.hidden_fields %}
                  {{ field }}
                  {% include 'main/errors.html' with errors=field.errors %}
                {% endfor %}
              </li>
            {% endfor %}
          </ul>
        </fieldset>
      </div>

      <div class="right-align">
        <button type="submit">Add new {{ page_name|lower }}</button>
      </div>
    {% endwith %}
  </form>
{% endblock %}

{% block js %}
  {% include 'transactions/formset_template.html' %}

  <script type="text/javascript" src="{% static 'js/form_functions.js' %}"></script>
  <script type="text/javascript" src="{% static 'transactions/js/add_edit_functions.js' %}"></script>
{% endblock %}
