{% extends 'main/base.html' %}

{% load static %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'transactions/css/forms_custom.css' %}">

  <style>
    #transaction-items {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }

    .header-date, .header-description, .header-amount, .header-gst, .header-delete,
    {% for financial_code_form in forms.empty_financial_code_form %}.header-{{ financial_code_form.name|lower }}, .header-{{ financial_code_form.name|lower }}-year, .header-{{ financial_code_form.name|lower }}-code{% if forloop.last %}{% else %}, {% endif %}{% endfor %} {
      display: none;
      font-size: 1.75rem;
      font-weight: 700;
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      .payee-payer select {
        width: 25rem;
      }

      .memo input {
        width: 25rem;
      }

      .submission-date input {
        width: 9rem;
      }
    }

    @media screen and (min-width: 1024px) {
      #transaction-items label {
        display: none;
      }

      .payee-payer select {
        width: 30rem;
      }

      .memo input {
        width: 30rem;
      }

      .submission-date input {
        width: 9rem;
      }

      #transaction-items {
        display: grid;
        grid-template-columns: 9rem 4fr 8rem 8rem {% for financial_code_form in forms.empty_financial_code_form %}2fr 2fr {% endfor %}{% if type == 'edit' %} 5rem;{% else %};{% endif %}
        grid-template-rows: auto;
        grid-template-areas:
          "header-date header-description header-amount header-gst {% for financial_code_form in forms.empty_financial_code_form %}header-{{ financial_code_form.name|lower }} header-{{ financial_code_form.name|lower }} {% endfor %}{% if type == 'edit' %}header-delete{% endif %}"
          "header-date header-description header-amount header-gst {% for financial_code_form in forms.empty_financial_code_form %}header-{{ financial_code_form.name|lower }}-year header-{{ financial_code_form.name|lower }}-code {% endfor %}{% if type == 'edit' %}header-delete{% endif %}"
          ". . . . . . . . {% if type == 'edit' %}.{% endif %}";
      }

      .header-date {
        align-self: end;
        display: block;
        grid-area: header-date;
      }

      .header-description {
        align-self: end;
        display: block;
        grid-area: header-description;
      }

      .header-amount {
        align-self: end;
        display: block;
        grid-area: header-amount;
        justify-self: end;
      }

      .header-gst {
        align-self: end;
        display: block;
        grid-area: header-gst;
        justify-self: end;
      }

      {% for financial_code_form in forms.empty_financial_code_form %}
        .header-{{ financial_code_form.name|lower }} {
          align-self: end;
          display: block;
          grid-area: header-{{ financial_code_form.name|lower }};
          justify-self: center;
        }

        .header-{{ financial_code_form.name|lower }}-year {
          align-self: end;
          display: block;
          grid-area: header-{{ financial_code_form.name|lower }}-year;
        }

        .header-{{ financial_code_form.name|lower }}-code {
         align-self: end;
          display: block;
          grid-area: header-{{ financial_code_form.name|lower }}-code;
        }
      {% endfor %}

      .header-delete {
        align-self: end;
        display: block;
        grid-area: header-delete;
        justify-self: end;
      }

      .add {
        grid-area: add;
      }
    }

  </style>
{% endblock %}

{% block content %}
  <h1>{{ page_name|title }}</h1>

  {% include 'main/messages.html' %}

  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% with forms.forms as form %}
      {% include 'main/errors.html' with errors=form.transaction_form.non_field_errors %}

      <div class="flex-col flex-ctr-m flex-ctr-l">
        <div class="input-flex-col payee-payer">
          {% include 'main/input_field.html' with field=form.transaction_form.payee_payer %}
        </div>

        <div class="input-flex-col memo">
          {% include 'main/input_field.html' with field=form.transaction_form.memo %}
        </div>

        <div class="input-flex-col submission-date">
          {% include 'main/input_field.html' with field=form.transaction_form.date_submitted %}
        </div>

        {% for field in form.transaction_form.hidden_fields %}
          {{ field }}
        {% endfor %}
      </div>

        <fieldset id="transaction-items">
          <legend>Transaction Items</legend>

          <!-- Header for table view -->
          {% with forms.forms.item_formset.empty_form as header %}
            <div class="header-date">
              {{ header.date_item.label }}
              <div id="help-{{ header.date_item.auto_id }}" class="modal">{{  header.date_item.help_text }}</div>
              <a href="#help-{{ header.date_item.auto_id }}" rel="modal:open" class="input-help"></a>
            </div>
            <div class="header-description">
              {{ header.description.label }}
              <div id="help-{{ header.description.auto_id }}" class="modal">{{  header.description.help_text }}</div>
              <a href="#help-{{ header.description.auto_id }}" rel="modal:open" class="input-help"></a>
            </div>
            <div class="header-amount">
              {{ header.amount.label }}
              <div id="help-{{ header.amount.auto_id }}" class="modal">{{  header.amount.help_text }}</div>
              <a href="#help-{{ header.amount.auto_id }}" rel="modal:open" class="input-help"></a>
            </div>
            <div class="header-gst">
              {{ header.gst.label }}
              <div id="help-{{ header.gst.auto_id }}" class="modal">{{  header.gst.help_text }}</div>
              <a href="#help-{{ header.gst.auto_id }}" rel="modal:open" class="input-help"></a>
            </div>

            {% with forms.empty_financial_code_form.0 as financial_code_form %}
              <div class="header-{{ financial_code_form.name|lower }}">{{ financial_code_form.name }}</div>
              <div class="header-{{ financial_code_form.name|lower }}-year">{{ financial_code_form.form.budget_year.label }}</div>
              <div class="header-{{ financial_code_form.name|lower }}-code">{{ financial_code_form.form.code.label }}</div>
            {% endwith %}

            {% with forms.empty_financial_code_form.1 as financial_code_form %}
              <div class="header-{{ financial_code_form.name|lower }}">{{ financial_code_form.name }}</div>
              <div class="header-{{ financial_code_form.name|lower }}-year">{{ financial_code_form.form.budget_year.label }}</div>
              <div class="header-{{ financial_code_form.name|lower }}-code">{{ financial_code_form.form.code.label }}</div>
            {% endwith %}

            {% if type == 'edit' %}
              <div class="header-delete">Delete</div>
            {% endif %}
          {% endwith %}

          {% with form.item_formsets as formsets %}
            {% include 'main/errors.html' with errors=form.item_formset.non_form_errors %}

            {% for group in formsets %}
              {% include 'main/errors.html' with errors=group.formset.non_field_errors %}

              <div class="date">
                {% include 'main/input_field.html' with field=group.item_formset.date_item %}
              </div>

              <div class="description">
                {% include 'main/input_field.html' with field=group.item_formset.description %}
              </div>

              <div class="amount">
                {% include 'main/input_field.html' with field=group.item_formset.amount %}
              </div>

              <div class="gst">
                {% include 'main/input_field.html' with field=group.item_formset.gst %}
              </div>

              {% for field in group.item_formset.hidden_fields %}
                {{ field }}
              {% endfor %}

              {% for financial_code_form in group.financial_code_forms %}
                {% include 'main/errors.html' with errors=financial_code_form.form.non_field_errors %}

                <div>
                  {% include 'main/input_field.html' with field=financial_code_form.form.budget_year %}
                </div>

                <div>
                  {% include 'main/input_field.html' with field=financial_code_form.form.code %}
                </div>

                {% for field in financial_code_form.form.hidden_fields %}
                  {{ field }}
                {% endfor %}
              {% endfor %}

              {% if type == 'edit' %}
                {% include 'main/input_field.html' with field=group.item_formset.DELETE %}
              {% endif %}
            {% endfor %}
          {% endwith %}
        </fieldset>

        <div class="add">
          <button id="add-item">Add item</button>
        </div>

        {{ form.item_formset.management_form }}

        <fieldset>
          <legend>Attachments</legend>
          <!-- TODO: Improve UI for this drag and drop box -->
          <label for="{{ form.new_attachment_form.attachment_files.id_for_label }}" id="attachment-drop-zone" class="input-flex-col">
              Drag attachments here or click the button below

            {{ form.new_attachment_form.attachment_files }}
            {% include 'main/errors.html' with errors=form.new_attachment_form.attachment_files.errors %}
          </label>

          {% for field in form.attachment_form.hidden_fields %}
            {{ field }}
          {% endfor %}

          <ul id="old-attachments">
            {{ form.old_attachment_formset.management_form }}

            {% for attachment_form in form.old_attachment_formset %}
              <li class="flex-col">
                <a href="{{ attachment_form.instance.attachment.location.url }}" target="_blank">
                  {{ attachment_form.instance.attachment }}
                </a>
                <label>{{ attachment_form.DELETE }} Delete</label>

                {% for field in attachment_form.hidden_fields %}
                  {{ field }}
                  {% include 'main/errors.html' with errors=field.errors %}
                {% endfor %}
              </li>
            {% endfor %}
          </ul>
        </fieldset>

        <div class="right-align">
          <button type="submit">{{ page_name|title }}</button>
        </div>
      </div>
    {% endwith %}
  </form>
{% endblock %}

{% block js %}
  {% include 'transactions/item_template.html' %}

  <script type="text/javascript" src="{% static 'js/form_functions.js' %}"></script>
  <script type="text/javascript" src="{% static 'transactions/js/add_edit_functions.js' %}"></script>
{% endblock %}
