<script type="text/html" id="item-template">
  <div class="date">
    {% include 'main/input_field.html' with field=forms.forms.item_formset.empty_form.date_item %}
  </div>

  <div class="description">
    {% include 'main/input_field.html' with field=forms.forms.item_formset.empty_form.description %}
  </div>

  <div class="amount">
    {% include 'main/input_field.html' with field=forms.forms.item_formset.empty_form.amount %}
  </div>

  <div class="gst">
    {% include 'main/input_field.html' with field=forms.forms.item_formset.empty_form.gst %}
  </div>

  {% for field in forms.item_formset.empty_form.hidden_fields %}
    {{ field }}
  {% endfor %}

  {% for financial_code_form in forms.empty_financial_code_form %}
    <div>
      {% include 'main/input_field.html' with field=financial_code_form.form.budget_year %}
    </div>

    <div>
      {% include 'main/input_field.html' with field=financial_code_form.form.code %}
    </div>

    {% for field in financial_code_form.form.hidden_fields %}
      {{ field }}
    {% endfor %}
  {% endfor %}
</script>
