{% extends 'main/base.html' %}

{% load static %}

{% block styles %}
    <style>
        #transactions {
            display: block;
        }

            #transactions .transaction:nth-child(even) {
                background-color: rgba(40, 120, 200, 0.1);
            }

        .transaction {
            align-content: flex-start;
            display: flex;
            flex-direction: column;
            padding: 1rem 0.25rem;
        }

            .transaction > .details {
                display: flex;
                flex-direction: column;
                align-content: flex-start;
            }

            .transaction > .details > .date-submitted {
                font-style: italic;
                font-size: 1.6rem;
                order: 2;
            }

            .transaction > .details >.memo {
                font-weight: 700;
                order: 1;
            }

            .transaction > .details > .payee-payer {
                font-style: italic;
                font-size: 1.6rem;
                order: 3;
            }

            .transaction > .options {
                order: 4;
            }
        .items {
            display: block;
            padding-left: 1rem;
        }
            .items .item:nth-child(even) {
                background-color: rgba(40, 120, 200, 0.1);
            }
            
        .item {
            align-content: flex-start;
            display: flex;
            flex-direction: column;
            font-size: 1.8rem;
            padding: 0.5rem;
        }

            .item em {
                font-size: 1rem;
            }

            .item > .details {
                align-content: flex-start;
                display: flex;
                flex-direction: column;
            }

                .item > .details > span {
                    display: block;
                }

                .item > .details > .date-item {
                    font-size: 1.4rem;
                    font-style: italic;
                    order: 2;
                }

                .item > .details > .description {
                    font-weight: 700;
                    order: 1;
                }

                .item > .details > .amount {
                    order: 3;
                    padding-left: 0.5rem;
                }

                .item > .details > .gst {
                    order: 4;
                    padding-left: 0.5rem;
                }

                .item > .details > .total {
                    order: 5;
                    padding-left: 0.5rem;
                }

            .item > .financial-codes {
                align-content: flex-start;
                display: flex;
                flex-direction: column;
                font-size: 1.6rem;
                padding: 1rem 0 0 0.5rem;
            }

            .item > .financial-codes > .financial-code {
                font-size: 1.4rem;
                font-style: italic;
                padding-left: 0.5rem;
            }

        .transaction > .totals em {
            font-size: 1.5rem;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Branch Transactions</h1>

    {% include 'main/messages.html' %}

    <div>
        <a href="{% url 'financial_transactions:add' 'expense' %}">New expense</a>
        <a href="{% url 'financial_transactions:add' 'revenue' %}">New revenue</a>
    </div>

    <div>
        <a href="">Submit to transactions to CSHP</a>
    </div>

    <div class="filters">
        <div>
            <label>Transaction type</label>
            <select id="transaction-type">
                <option value="a" selected="selected">All</option>
                <option value="e">Expenses</option>
                <option value="r">Revenue</option>
            </select>
        </div>

        <div>
            <label>Date</label>
            <select id="transaction-dates">
                <option value="30 days">Past 30 days</option>
                <option value="90 days">Past 90 days</option>
                <option value="1 year" selected="selected">Past year</option>
                <option value="2 years">Past 2 years</option>
                <option value="range">Date range</option>
            </select>
            
            <div class="date">
                <label>Start date:</label>
                <input type="date">
            </div>

            <div class="date">
                <label>End date:</label>
                <input type="date">
            </div>
        </div>

        <div>
            <strong>Text filter</strong>
            <input type="text">
        </div>
    </div>
    <h2>Transaction List</h2>

    <div id="transactions"></div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'transactions/js/index.js' %}"></script>
{% endblock %}