{% for transaction in transactions %}
  <div class="transaction"
    data-transaction-type="{{ transaction.transaction_type }}"
    data-date-submitted="{{ transaction.date_submitted|date:'Y-m-d' }}"
    data-memo="{{ transaction.memo }}"
    data-payee-payer="{{ transaction.payee_payer }}"
    data-transaction-total="{{ transaction.total }}">

    <div class="transaction-details">
      <span class="date-submitted">{{ transaction.date_submitted|date:"Y-m-d" }}</span>
      <span class="memo">{{ transaction.memo }}</span>
      <span class="payee-payer">{{ transaction.payee_payer }}</span>
    </div>

    <div class="items">
      <div class="item header">
        <div class="date-item">Date</div>
        <div class="description">Description</div>
        <div class="amount">Amount</div>
        <div class="gst">GST/HST</div>
        <div class="total">Total</div>
        <div class="financial-code">Financial Codes</div>
      </div>

      {% for item in transaction.items.all %}
        <div class="item"
          data-date="{{ item.date_item|date:'Y-m-d' }}"
          data-description="{{ item.description }}"
          data-amount="${{ item.amount }}"
          data-gst="${{ item.gst }}"
          data-total="{{ item.total }}">

          <div class="date-item">{{ item.date_item|date:"Y-m-d" }}</div>
          <div class="description">{{ item.description }}</div>
          <div class="amount"><em>Amount</em> ${{ item.amount }}</div>
          <div class="gst"><em>GST</em> ${{ item.gst }}</div>
          <div class="total"><em>Total</em> ${{ item.total }}</div>
          <div class="financial-codes">
            <em>Account Codes</em>
            {% for financial_code in item.financialcodematch_set.all %}
              {% with financial_code.financial_code as code %}
                <span class="financial-code" data-code="{{ code.code }}" data-code-description="{{ code.description }}">
              {{ code.financial_code_group.budget_year.financial_code_system.title }}:
              {{ code }}
            </span>
              {% endwith %}
            {% endfor %}
          </div>
        </div>
      {% endfor %}

      <div class="item totals">
        <div class="total"><em>Transaction Total</em> ${{ transaction.total }}</div>
      </div>
    </div>

    {% if attachment in transaction.attachmentmatch_set.all is not None %}
      <div class="attachments">
        <strong>Attachments</strong>
        {% for attachment in transaction.attachmentmatch_set.all %}
          <div class="attachments"><a href="{{ attachment.attachment.location.url }}">{{ attachment.attachment.location }}</a></div>
        {% endfor %}
      </div>
    {% endif %}

    <div class="options">
      {% if transaction.transaction_type == "e" %}
        <a href="{% url 'financial_transactions:edit' 'expense' transaction.id %}" class="edit">Edit</a>
        <a href="{% url 'financial_transactions:delete' 'expense' transaction.id %}" class="delete">Delete</a>
      {% else %}
        <a href="{% url 'financial_transactions:edit' 'revenue' transaction.id %}" class="edit">Edit</a>
        <a href="{% url 'financial_transactions:delete' 'revenue' transaction.id %}" class="delete">Delete</a>
      {% endif %}
    </div>

    <div class="print-options">
      <a href="{% url 'financial_transactions:pdf' transaction.id %}" class="edit" target="_blank" rel="noopener">Generate Submission Form</a>
    </div>
  </div>
{% endfor %}
