{
    "extends": [
        "airbnb",
        "eslint:recommended"
    ],
    "env": {
        "browser": true,
        "node": false
    },
    "rules": {},
    "globals": {
        "Raven": true
    }
}
