{
    "extends": [
        "airbnb-base"
    ],
    "env": {
        "browser": true,
        "node": false,
        "jquery": true
    },
    "rules": {},
    "globals": {
        "Raven": true,
        "moment": true,
        "handleMessages": true,
    }
}
