[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argon2-cffi = "*"  # https://github.com/hynek/argon2_cffi
boto3 = "*"  # https://github.com/boto/boto3
pillow = "*"  # https://github.com/python-pillow/Pillow
psycopg2-binary = "*"  # https://github.com/psycopg/psycopg2
raven = "*"  # https://github.com/jschneier/django-storages
redis = "*"  # https://github.com/antirez/redis
reportlab = "*"  # https://www.reportlab.com/docs/reportlab-userguide.pdf
Unipath = "*"  # https://github.com/mikeorr/Unipath
whitenoise = "*"  # https://github.com/evansd/whitenoise
# Django
# ------------------------------------------------------------------------------
django = ">=2.0,<2.1"  # https://www.djangoproject.com/
django-allauth = "*"  # https://github.com/pennersr/django-allauth
django-environ = "*"  # https://github.com/joke2k/django-environ
django-jenkins = "*"  # https://github.com/kmmbvnr/django-jenkins
django-multiupload = "*"  # https://github.com/Chive/django-multiupload
django-redis = "*"  # https://github.com/niwinz/django-redis
django-simple-history = "*"  # https://github.com/treyhunner/django-simple-history
django-storages = "*"  # https://github.com/jschneier/django-storages

[dev-packages]
# Code quality
# ------------------------------------------------------------------------------
pylint = "*"  # https://github.com/PyCQA/pylint/
coverage = "*"  # https://github.com/nedbat/coveragepy
# Django
# ------------------------------------------------------------------------------
django_coverage_plugin = "*" # https://github.com/nedbat/django_coverage_plugin
django-debug-toolbar = "*"  # https://github.com/jazzband/django-debug-toolbar
django-jenkins = "*"  # https://github.com/kmmbvnr/django-jenkins
pylint-common = "*"  # https://github.com/landscapeio/pylint-common
pylint-django = "*"  #https://github.com/PyCQA/pylint-django

[requires]
python_version = "3.6"
