{% extends 'main/base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
    <h1>Add New Bank Statement</h1>

    {% include 'main/messages.html' %}
	
    <form action="" method="post">
        {% csrf_token %}

        <div id="form_content">
            {% for field in form %}
                <div>
                    {{ field.label_tag }}

                    <span>
                        {{ field }}
                    </span>
                    <em>
                        {{ field.help_text }}
                    </em>

                    {% if field.errors %}
                        <ul class="message_list">
                            {% for error in field.errors %}
                                <li class="level_40">{{ error|striptags }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endfor %}

            <fieldset>
                <legend>Transaction items</legend>

                {% for form in formsets %}
                    <div class="bank-transaction-row">
                        {% for field in form.visible_fields %}
                            {{ field.label_tag }}

                            <span>
                                {{ field }}
                            </span>
                            <em>
                                {{ field.help_text }}
                            </em>

                            {% if field.errors %}
                            <ul class="message_list">
                                {% for error in field.errors %}
                                <li class="level_40">{{ error|striptags }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        {% endfor %}

                        {% for field in form.hidden_fields %}
                            {{ field }}
                        {% endfor %}
                    </div>
                    
                    <hr>
                {% endfor %}
                
                <div>
                    <button id="add-bank-transaction-row">Add additional transaction</button>
                </div>
            </fieldset>

            <fieldset>
                <legend>Attachments</legend>
            </fieldset>

            {{ formsets.management_form }}
        </div>
        
        <div class="right_align">
            <button type="submit">Save new statement</button>
        </div>
    </form>
{% endblock %}

{% block js %}
    <script type="text/html" id="bank-transaction-form-template">
        <div class="bank-transaction-row">
            {% for field in formsets.empty_form.visible_fields %}
                {{ field.label_tag }}

                <span>
                    {{ field }}
                </span>
                <em>
                    {{ field.help_text }}
                </em>

                {% if field.errors %}
                    <ul class="message_list">
                        {% for error in field.errors %}
                        <li class="level_40">{{ error|striptags }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}

            {% for field in formsets.empty_form.hidden_fields %}
                {{ field }}
            {% endfor %}
        </div>

        <hr>
    </script>
    <script type="text/javascript" src="{% static 'bank_transactions/js/add_edit_functions.js' %}"></script>
{% endblock %}