{% extends 'main/base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
    <h1>Edit Financial Code</h1>

    {% include 'main/messages.html' %}

    <form action="" method="post">
        {% csrf_token %}

        <div id="form_content">
            {% include 'main/errors.html' with errors=form.non_field_errors %}

            {% for field in form.visible_fields %}
            <div>
                {{ field.label_tag }}

                <span>
                    {{ field }}
                </span>

                <em>
                    {{ field.help_text }}
                </em>

                {% include 'main/errors.html' with errors=field.errors %}
            </div>
            {% endfor %}

            {% for field in form.hidden_fields %}
            <div>
                {{ field }}
            </div>

            {% include 'main/errors.html' with errors=field.errors %}
            {% endfor %}
        </div>

        <div class="right_align">
            <button type="submit">Save financial code</button>
        </div>
    </form>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'financial_codes/code_add_edit.js' %}"></script>
{% endblock %}