{% extends 'main/base.html' %}

{% block content %}
    <h1>Financial Codes</h1>

    {% include 'main/messages.html' %}

    <ul>
        <li>
            <a href="{% url 'financial_code_system_add' %}">Add new financial code system</a>
        </li>
        <li>
            <a href="{% url 'year_add' %}">Add new budget year</a>
        </li>
        <li>
            <a href="{% url 'group_add' %}">Add new financial code group</a>
        </li>
        <li>
            <a href="{% url 'code_add' %}">Add new financial code</a>
        </li>
    </ul>
    
    <ul>
        {% for system in data %}
        <li>
            {{ system.system }} - 
            <a href="{% url 'financial_code_system_edit' system.system.id %}">Edit</a> - 
            <a href="{% url 'financial_code_system_delete' system.system.id %}">Delete</a>
            <ul>
                {% for budget_year in system.budget_years %}
                <li>
                    {{ budget_year.budget_year }} - 
                    <a href="{% url 'year_edit' budget_year.budget_year.id %}">Edit</a> - 
                    <a href="{% url 'year_delete' budget_year.budget_year.id %}">Delete</a>
                    <ul>
                        {% for financial_code_group in budget_year.financial_code_groups %}
                        <li>
                            {{ financial_code_group.financial_code_group }} - 
                            <a href="{% url 'group_edit' financial_code_group.financial_code_group.id %}">Edit</a> - 
                            <a href="{% url 'group_delete' financial_code_group.financial_code_group.id %}">Delete</a>
                            <ul>
                                {% for financial_code in financial_code_group.financial_codes %}
                                <li>
                                    {{ financial_code }} -
                                    <a href="{% url 'code_edit' financial_code.id %}">Edit</a> -
                                    <a href="{% url 'code_delete' financial_code.id %}">Delete</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
{% endblock %}