{% extends 'main/base.html' %}

{% block styles %}
  <style>
    .buttons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    /* Overriding base style */
    .save, .edit, .delete {
      width: 15rem;
    }
  </style>
{% endblock %}

{% block content %}
  <h1>Financial Codes</h1>

  {% include 'main/messages.html' %}

  <a href="{% url 'financial_codes:system_add' %}" class="save">Add new financial code system</a>

  <div class="financial-code-system">
    {% for system in data %}
      <div>
        <h2>Financial Code System: {{ system.system.title }}</h2>

        <div class="buttons">
          <a href="{% url 'financial_codes:system_edit' system.system.id %}" class="edit">Edit financial code system</a>
          <a href="{% url 'financial_codes:system_delete' system.system.id %}" class="delete">Delete financial code system</a>
          <a href="{% url 'financial_codes:year_add' %}" class="save">Add new budget year</a>
        </div>

        {% for budget_year in system.budget_years %}
          <h3>{{ budget_year.budget_year }} Budget Year</h3>

          <div class="buttons">
            <a href="{% url 'financial_codes:year_edit' budget_year.budget_year.id %}" class="edit">Edit budget year</a>
            <a href="{% url 'financial_codes:year_delete' budget_year.budget_year.id %}" class="delete">Delete budget year</a>
            <a href="{% url 'financial_codes:group_add' %}" class="save">Add new financial code group</a>
          </div>

          <div>
            <div>
              <h4>Revenue Accounts</h4>
              <ul class="financial-code-group">
                {% for financial_code_group in budget_year.revenue_groups %}
                  <li>
                    {{ financial_code_group.financial_code_group.title }}

                    <div class="buttons">
                      <a href="{% url 'financial_codes:group_edit' financial_code_group.financial_code_group.id %}" class="edit">Edit</a>
                      <a href="{% url 'financial_codes:group_delete' financial_code_group.financial_code_group.id %}" class="delete">Delete</a>
                      <a href="{% url 'financial_codes:code_add' %}" class="save">Add new financial code</a>
                    </div>

                    <ul class="financial-code">
                      {% for financial_code in financial_code_group.financial_codes %}
                        <li>
                          {{ financial_code }} -
                          <a href="{% url 'financial_codes:code_edit' financial_code.id %}">Edit</a> -
                          <a href="{% url 'financial_codes:code_delete' financial_code.id %}">Delete</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% endfor %}
              </ul>
            </div>

            <div>
              <h4>Expense Accounts</h4>
              <ul class="financial-code-group">
                {% for financial_code_group in budget_year.expense_groups %}
                  <li>
                    {{ financial_code_group.financial_code_group.title }}

                    <div class="buttons">
                      <a href="{% url 'financial_codes:group_edit' financial_code_group.financial_code_group.id %}" class="edit">Edit</a>
                      <a href="{% url 'financial_codes:group_delete' financial_code_group.financial_code_group.id %}" class="delete">Delete</a>
                      <a href="{% url 'financial_codes:code_add' %}" class="save">Add new financial code</a>
                    </div>

                    <ul class="financial-code">
                      {% for financial_code in financial_code_group.financial_codes %}
                        <li>
                          {{ financial_code }} -
                          <a href="{% url 'financial_codes:code_edit' financial_code.id %}">Edit</a> -
                          <a href="{% url 'financial_codes:code_delete' financial_code.id %}">Delete</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
