{% extends 'main/base.html' %}

{% load static %}

{% block styles %}
    <style>
        #form_content > div {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        #form_content label, #form_content span, #form_content em {
            box-sizing: border-box;
            display: block;
            padding: 0.25rem 0.5rem;
            width: 100%;
        }

        #form_content label {
            font-weight: 700;
        }

        #form_content span input, #form_content span select {
            width: 100%;
        }

        #form_content em {
            font-size: 1.2rem;
        }

    </style>
{% endblock %}

{% block content %}
    <h1>Add Payee/Payer</h1>

    <!-- TODO: Create HTML to display form fields
        Can these form field generation be more automated?
    -->
    {% include 'main/messages.html' %}
	
    <form action="" method="post">
        {% csrf_token %}

        <div id="form_content">
            {% for field in form %}
                <div>
                    {{ field.label_tag }}

                    <span>
                        {{ field }}
                    </span>
                    <em>
                        {{ field.help_text }}
                    </em>

                    {% if field.errors %}
                        <ul class="message_list">
                            {% for error in field.errors %}
                                <li class="level_40">{{ error|striptags }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="right_align">
            <button type="submit">Add New Application</button>
        </div>
    </form>
{% endblock %}

{% block js %}
    <script>
        function set_country_to_canada() {
            $("#id_country option:contains('Canada')").attr("selected", "selected");
            update_province_input();
        }

        function update_province_input() {
            function create_options(values) {
                // Converts an array of values into an array of option elements
                var options = [];

                $.each(values, function (index, value) {
                    var $option = $("<option></option>");
                    $option.val(value).text(value);
                    options.push($option);
                });

                return options;
            }

            // Array of Canadian provinces
            var provinces = [
                "Alberta",
                "British Columbia",
                "Manitoba",
                "New Brunswick",
                "Newfoundland and Labrador",
                "Northwest Territories",
                "Nova Scotia",
                "Nunavut",
                "Ontario",
                "Prince Edward Island",
                "Quebec",
                "Saskatchewan",
                "Yukon"
            ];

            // Array of USA States
            var states = [
                "Alabama",
                "Alaska",
                "Arizona",
                "Arkansas",
                "California",
                "Colorado",
                "Connecticut",
                "Delaware",
                "Florida",
                "Georgia",
                "Hawaii",
                "Idaho",
                "Illinois",
                "Indiana",
                "Iowa",
                "Kansas",
                "Kentucky",
                "Louisiana",
                "Maine",
                "Maryland",
                "Massachusetts",
                "Michigan",
                "Minnesota",
                "Mississippi",
                "Missouri",
                "Montana",
                "Nebraska",
                "Nevada",
                "New Hampshire",
                "New Jersey",
                "New Mexico",
                "New York",
                "North Carolina",
                "North Dakota",
                "Ohio",
                "Oklahoma",
                "Oregon",
                "Pennsylvania",
                "Rhode Island",
                "South Carolina",
                "South Dakota",
                "Tennessee",
                "Texas",
                "Utah",
                "Vermont",
                "Virginia",
                "Washington",
                "West Virginia",
                "Wisconsin",
                "Wyoming"
            ];

            // Get currenty country value
            var country = $("#id_country option:selected").text();
            
            var $newInput;

            // Create basic element
            if (country === "Canada") {
                $newInput = $("<select></select>");
                $newInput.append(create_options(provinces));
            } else if (country === "United States") {
                $newInput = $("<select></select>");
                $newInput.append(create_options(states));
            } else {
                $newInput = $("<input>");
                $newInput.attr("type", "text");
            }

            // Add required properties
            $newInput
                .attr("name", "province")
                .attr("maxlength", "100")
                .prop("required", true)
                .attr("id", "id_province");
            
            // Remove the old input
            var $oldInput = $("#id_province");
            var $span = $oldInput.parent();

            $oldInput.remove();

            // Add the new input
            $span.append($newInput);
        }

        $(document).ready(function () {
            set_country_to_canada();
            
            $("#id_country").on("change", function () {
                update_province_input();
            });
        });
    </script>
{% endblock %}