{% extends 'main/base.html' %}

{% load static %}

{% block styles %}
    <style>
        #form_content > div {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        #form_content label, #form_content span, #form_content em {
            box-sizing: border-box;
            display: block;
            padding: 0.25rem 0.5rem;
            width: 100%;
        }

        #form_content label {
            font-weight: 700;
        }

        #form_content span input, #form_content span select {
            width: 100%;
        }

        #form_content em {
            font-size: 1.2rem;
        }

    </style>
{% endblock %}

{% block content %}
    <h1>Add Payee/Payer</h1>

    <!-- TODO: Create HTML to display form fields
        Can these form field generation be more automated?
    -->
    {% include 'main/messages.html' %}
	
    <form action="" method="post">
        {% csrf_token %}

        <div id="form_content">
            {% for field in form %}
                <div>
                    {{ field.label_tag }}

                    <span>
                        {{ field }}
                    </span>
                    <em>
                        {{ field.help_text }}
                    </em>

                    {% if field.errors %}
                        <ul class="message_list">
                            {% for error in field.errors %}
                                <li class="level_40">{{ error|striptags }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="right_align">
            <button type="submit">Save changes</button>
        </div>
    </form>
{% endblock %}

{% block js %}
    <script src="{% static 'payee_payer/js/add_edit_functions.js' %}"></script>
{% endblock %}