{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>
        {% block title %}CSHP-AB Expenses{% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.modal.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Franklin:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" media="all">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css" media="all">
    {% block styles %}{% endblock %}
</head>

<body>
  <header id="header-bar">
    {% if user.is_authenticated %}
      <button id="toggle-sidebar" class="menu-button">
        <span class="menu-icon-open" aria-label="open"></span>
        <span class="menu-icon-close" aria-label="close"></span>
        Menu
      </button>
    {% endif %}

    <a href="{% url 'home' %}">
      <img src="{% static 'images/logo_small.svg' %}" id="logo-image-small" alt="CSHP Alberta Branch">
      <img src="{% static 'images/logo_large.svg' %}" id="logo-image-large" alt="CSHP Alberta Branch">
    </a>

    {% if user.is_authenticated %}
      <a href="{% url 'account_logout' %}" class="login">Logout</a>
    {% else %}
      <a href="{% url 'account_login' %}" class="login">Log in</a>
    {% endif %}
  </header>

  {% if user.is_authenticated %}
    <nav id="sidebar">
      <ul>
        <li>
          <a href="{% url 'home' %}">Home</a>
        </li>
        <li>
          <a class="menu-header">Account Management</a>
          <ul>
            <li><a href="{% url 'account_profile' %}">Profile</a></li>
            <li><a href="{% url 'account_logout' %}">Logout</a></li>
          </ul>
        </li>
        <li>
          <a href="{% url 'payee_payers:dashboard' %}">Manage payees and payers</a>
        </li>
        <li>
          <a href="{% url 'financial_transactions:dashboard' %}">Transactions</a>
        </li>
        <li>
          <a href="{% url 'investments:dashboard' %}">Investments</a>
        </li>
        <li>
          <a class="menu-header">Banking</a>
          <ul>
            <li><a href="{% url 'bank_transactions:dashboard' %}">Statements</a></li>
            <li><a href="{% url 'bank_reconciliation:dashboard' %}">Reconciliation</a></li>
          </ul>
        </li>
        <li>
          <a href="{% url 'reports:dashboard' %}">Reports</a>
        </li>
        <li>
          <a class="menu-header">Admin and Branch Settings</a>
          <ul>
            <li><a href="{% url 'admin:index' %}">Branch &amp; user administration</a></li>
            <li><a href="{% url 'financial_codes:dashboard' %}">Accounting codes</a></li>
            <li><a href="{% url 'bank_institutions:dashboard' %}">Banking details</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  {% endif %}

  <section id="main-container">
      <div id="main-content">
          {% block content %}
          {% endblock %}
      </div>
  </section>

  <!-- JS files -->
  <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.modal.min.js' %}"></script>
  <script src="https://cdn.ravenjs.com/3.26.2/raven.min.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'js/base.js' %}"></script>

  <!-- Activate side bar if user is authenticated -->
  {% if user.is_authenticated %}
    <script>
      function toggleSidebar() {
        $("#sidebar").toggleClass("show-sidebar");
        $("#toggle-sidebar").toggleClass("open");
      }

      function hideSidebar() {
        $("#sidebar").removeClass("show-sidebar");
        $("#toggle-sidebar").removeClass("open");
      }

      function showSubMenu(menuItem) {
        // Reset the menu display
        $("#sidebar").find(".show-sub-menu").removeClass("show-sub-menu");

        // Add display to this clicked item
        $(menuItem).addClass("show-sub-menu");
      }

      // Add event listeners
      $(document).ready(function () {
        $("#toggle-sidebar").on("click", function () {
          toggleSidebar();
        });

        $("#main-container").on("click", function () {
          hideSidebar();
        });

        $(".menu-header").on("click", function () {
          showSubMenu(this);
        })
      });
    </script>
  {% endif %}

  {% block js %}{% endblock %}
</body>
</html>
