{% extends 'main/base.html' %}

{% block content %}
<!-- TODO: At handling of logged in users to change this page -->

<h1>CSHP Alberta Branch Expense Submissions</h1>

<p>
  Welcome to the CSHP Alberta Branch expense submissions page.
</p>

<!--
<p>
  To submit an expense, enter in your access code below and click <b>Open expense claim form</b>
</p>

<div>
  <label for="access-code">
    Access code:
    <input type="text" id="access-code">
  </label>

  <button>Open expense claim form</button>
</div>
-->
{% endblock %}
