/*
    Colors
        CSHP background green = 237, 244 242
        CSHP blue = 40, 120, 200
        CSHP orange = 241, 100, 69
        CSHP other orange = 255, 128, 102
        CSHP border grey = 69, 69, 69
*/

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

#header-bar {
    background-color: rgb(237, 244, 242);
    height: 5rem;
    position: fixed;
    width: 100%;
    z-index: 5;
}

#sidebar {
    background-color: rgb(40, 120, 200);
    border: 1px solid rgb(69, 69, 69);
    color: rgb(255, 255, 255);
    height: 100%;
    left: -300px;
    margin: 5rem 0 0 0;
    padding: 0;
    position: fixed;
    transition: all ease-in-out 0.5s;
    width: 280px;
    z-index: 2;
}

    #sidebar.show-sidebar {
        left: 0px;
    }

    #sidebar > ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        #sidebar > ul > li {
            border-bottom: 1px solid rgb(255, 255, 255);
        }

            #sidebar > ul > li > a {
                color: inherit;
                display: block;
                padding: 1rem 0.5rem;
                text-decoration: none;
            }

            #sidebar > ul > li > a.show-sub-menu + ul {
                height: auto;
            }

            #sidebar > ul > li > ul {
                color: rgb(0, 0, 0);
                height: 0;
                list-style: none;
                margin: 0;
                overflow: hidden;
                padding: 0;
            }

                #sidebar > ul > li > ul > li {
                    background-color: rgb(255, 255, 255);
                }

                    #sidebar > ul > li > ul > li > a {
                        color: inherit;
                        display: block;
                        padding: 0.5rem 1rem;
                        text-decoration: none;
                    }

#main-container {
    background: rgb(255, 255, 255);
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    overflow-y: scroll;
    padding: 0;
    position: absolute;
    z-index: 1;
}

#main-content {
    box-sizing: border-box;
    margin: 5rem 0 0 0;
    padding: 0.5rem;
    width: 100%;
}

.center_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#button-submit {
  display: block;
}

#button-login {
  display: block;
}
