#form_content > div {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#form_content label, #form_content span, #form_content em {
    box-sizing: border-box;
    display: block;
    padding: 0.25rem 0.5rem;
    width: 100%;
}

#form_content label {
    font-weight: 700;
}

#form_content span input, #form_content span select {
    width: 100%;
}

#form_content em {
    font-size: 1.2rem;
}