/* REMOVE THESE WHEN FORM STYLES ARE FINALIZED */
#form_content > div {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#form_content label, #form_content span, #form_content em {
    box-sizing: border-box;
    display: block;
    padding: 0.25rem 0.5rem;
    width: 100%;
}

#form_content label {
    font-weight: 700;
}

#form_content span input, #form_content span select {
    width: 100%;
}

#form_content em {
    font-size: 1.2rem;
}

#form_content .financial-transaction-details {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

  #form_content .financial-transaction-details > div {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

.item-details {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.financial-code-systems {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

  .financial-code-systems > fieldset {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }



.flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.input-flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #main-content {
    max-width: 1024px;
  }

  #logo-text-image {
    display: inline-block;
  }

  .flex-ctr-m {
    flex-direction: row !important;
  }

  .input-flex-ctr-m {
    flex-direction: row !important;
  }
}

@media screen and (min-width: 1024px) {
  #form_content .financial-transaction-details {
    flex-direction: row;
  }

  .financial-transaction-details > div:nth-child(1) {
    min-width: 200px;
  }

  .financial-transaction-details > div:nth-child(2) {
    min-width: 200px;
  }

  .financial-transaction-details > div:nth-child(3) {
    width: 200px;
  }

  .item-details {
    flex-direction: row;
  }

    .item-details > div:nth-child(1) {
      width: 150px;
    }

    .item-details > div:nth-child(2) {
      min-width: 200px;
    }

    .item-details > div:nth-child(3) {
      width: 150px;
    }

    .item-details > div:nth-child(4) {
      width: 150px;
    }

  .financial-code-systems {
    flex-direction: row;
  }

    .financial-code-systems > fieldset {
      flex-direction: row;
    }

      .financial-code-systems > fieldset > div:nth-child(1) {
        width: 150px;
      }

  .flex-ctr-l {
    flex-direction: row !important;
  }

  .input-flex-ctr-l {
    flex-direction: row !important;
  }
}
