/* REMOVE THESE WHEN FORM STYLES ARE FINALIZED */
form label {
  box-sizing: border-box;
  display: block;
  font-weight: 700;
  width: 100%;
}

form span {
  box-sizing: border-box;
  display: block;
  font-weight: 700;
  width: 100%;
}

form input, form select {
  border: 1px solid black;
  box-sizing: border-box;
  width: 100%;
}

.flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.input-flex-col {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  width: 100%;
}

.input-help {
  background-color: transparent;
  border: none;
  color: rgb(50, 50, 50);
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  transition: color ease-in-out 0.15s;
}

  .input-help::before {
    content: "\f059";
  }

  .input-help:hover {
    color: rgb(40, 120, 200);
  }

#attachment-drop-zone {
  align-items: center;
  background-color: rgb(237, 244, 242);
  display: flex !important;
  flex-direction: column;
  justify-content: space-around;
  height: 15rem;
  outline: 2px dashed rgb(75, 75, 75);
  outline-offset: -10px;
  padding: 20px;
  transition: all ease-in-out 0.15s;
  width: 100%;
}

  #attachment-drop-zone.is-dragover {
    background-color: rgb(255, 255, 255);
    outline-offset: -15px;
  }

#old-attachments {
  list-style: none;
  margin: 0;
  padding: 0;
}

  #old-attachments li {
    border: 1px solid black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 300px;
  }

  #old-attachments label {
    display: inline-block;
    cursor: pointer;
    font-size: 1.5rem;
    width: auto;
  }

  #old-attachments input {
    display: inline-block;
    width: auto;
  }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .flex-ctr-m {
    flex-direction: row;
  }

  .input-flex-col {
    width: auto;
  }

  .input-flex-ctr-m {
    flex-direction: row;
  }

  .input-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "label input";
    padding: 0.5rem 0;
  }

    .input-grid.submit-button button {
      justify-self: end;
      grid-area: 1 / 1 / 2 / 3;
    }
}

@media screen and (min-width: 1024px) {
  .flex-ctr-l {
    flex-direction: row;
  }

  .input-flex-col {
    width: auto;
  }

    .input-flex-col label {
      display: inline-block;
      width: auto;
    }

    .input-flex-col input {
      display: inline-block;
      width: auto;
    }

  .input-flex-ctr-l {
    flex-direction: row;
  }

  .input-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "label input";
    padding: 0.5rem 0;
  }

    .input-grid.submit-button button {
      justify-self: end;
      grid-area: 1 / 1 / 2 / 3;
    }
}
