{% extends 'main/base.html' %}

{% block content %}
    <h1>Banking</h1>

    {% include 'main/messages.html' %}
    
    <div>
        <ul>
            <li><a href="{% url 'bank_institutions:add' %}">Add new institution</a></li>
        </ul>
    </div>
    <div>
        <h2>Banking Institution and Account Settings</h2>
        <ul>
            {% for institution in institutions %}
                <li class="expense">
                    {{ institution }} - 
                    <a href="{% url 'bank_institutions:edit' institution.id %}">Edit</a> - 
                    <a href="{% url 'bank_institutions:delete' institution.id %}">Delete</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}