{% extends 'main/base.html' %}

{% block styles %}
  <style>
    /* Override button styles */
    .save {
      width: 20rem;
    }

    .edit, .delete {
      font-size: 1.5rem;
      min-width: 7rem;
    }

    #investments > div:nth-child(even) {
      background-color: rgba(40, 120, 200, 0.1);
    }

    .header {
      display: none;
      font-weight: 700;
    }

    .grid-investment em {
      font-size: 1.25rem;
    }

    .date {
      font-weight: 700;
    }

    .name {
      font-weight: 700;
    }

    .buttons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 280px;
    }

    @media screen and (min-width: 768px) {
      .grid-investment {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 3fr 2fr 2fr 2fr 2fr 2fr 3fr;
        grid-template-areas: "name date-invested amount-invested date-matured amount-matured rate buttons";
      }

      .grid-investment em {
        display: none;
      }

      .header {
        display: grid;
      }

      .name {
        grid-area: name;
      }

      .date-invested {
        grid-area: date-invested;
      }

      .amount-invested {
        grid-area: amount-invested;
        justify-self: end;
      }

      .date-matured {
        grid-area: date-matured;
      }

      .amount-matured {
        grid-area: amount-matured;
        justify-self: end;
      }

      .rate {
        grid-area: rate;
        justify-self: end;
      }

      .buttons {
        grid-area: buttons;
        justify-content: flex-end;
      }
    }
  </style>
{% endblock %}

{% block content %}
    <h1>Investments</h1>

    {% include 'main/messages.html' %}

    <div>
      <a href="{% url 'investments:add'%}" class="save">
        Add new investment
      </a>
    </div>

    <div id="investments">
      <div class="grid-investment header">
        <div class="date-invested">Date Invested</div>
        <div class="amount-invested">Amount Invested</div>
        <div class="date-matured">Date Matured</div>
        <div class="amount-matured">Amount Matured</div>
        <div class="rate">Rate</div>
      </div>

      {% for investment in investments %}
        <div class="grid-investment">
            <div class="name">{{ investment.name }}</div>
          <div class="date-invested">{{ investment.date_invested }}</div>
          <div class="amount-invested"><em>Amount:</em> ${{ investment.amount_invested }}</div>
          <div class="date-matured">{{ investment.date_matured }}</div>
          <div class="amount-matured"><em>Amount:</em> ${{ investment.amount_matured }}</div>
          <div class="rate"><em>Rate:</em> {{ investment.rate }}</div>
          <div class="buttons">
            <a href="{% url 'investments:edit' investment.id %}" class="edit">Edit</a>
            <a href="{% url 'investments:delete' investment.id %}" class="delete">Delete</a>
          </div>
        </div>
      {% endfor %}
    </div>
{% endblock %}
