{% extends 'main/base.html' %}

{% block content %}
    <h1>Investments</h1>

    {% include 'main/messages.html' %}

    <div>
        <a href="{% url 'investments:add'%}">Add new investment</a>
    </div>

    <div>
        <ul>
            {% for investment in investments %}
                <li>
                    {{ investment }} - 
                    <a href="{% url 'investments:edit' investment.id %}">Edit</a> -
                    <a href="{% url 'investments:delete' investment.id %}">Delete</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}