{% extends 'main/base.html' %}

{% load static %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
  <style>
    /* Override column widths */
    .input-grid {
      grid-template-columns: 15rem 20rem;
    }

    /* Override button width */
    .edit {
      width: 15rem;
    }
  </style>
{% endblock %}

{% block content %}
  <h1>{{ page_name|title }}</h1>

  {% include 'main/messages.html' %}

  {% include 'main/form_add_edit.html' %}
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static 'payee_payers/js/add_edit.js' %}"></script>
{% endblock %}
