{% extends 'main/base.html' %}

{% load static %}

{% block styles %}
  <style>
    .save {
      font-size: 2rem;
      height: 5rem;
      width: 20rem;
    }

    .filter {
      padding-bottom: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

      .filter > div {
        padding: 0 3rem 1rem 0;

      }

      .filter label {
        display: block;
        font-weight: 700;
      }

    #filter-text {
      width: 100%;
    }

    #payee-payer-list > div:nth-child(even){
      background-color: rgba(40, 120, 200, 0.1);
    }

    .hide {
      display: none;
    }

    .inactive {
      color: rgb(100, 100, 100);
      font-style: italic;
    }

      .inactive .name {
        font-weight: 400;
      }

    .name {
      font-size: 2.25rem;
      font-weight: 700;
    }

    .location {
      font-style: italic;
    }

    .buttons {
      align-content: flex-start;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    @media screen and (min-width: 768px) {
      .filter {
        flex-direction: row;
      }

      #filter-text {
        width: 30rem;
      }

      .phone {
        display: inline-block;
        padding-right: 2rem;
      }
    }
  </style>
{% endblock %}
{% block content %}
  <h1>Payee and Payers</h1>

  {% include 'main/messages.html' %}

  <div>
    <a href="{% url 'payee_payers:add' %}" class="save">Add new entry</a>
  </div>

  <h2>Filter Entries</h2>

  <div class="filter">
    <div>
      <label for="filter-text">Search:</label>
      <input type="text" id="filter-text">
    </div>
    <div>
      <label for="filter-status">Status:</label>
      <select id="filter-status">
        <option value="">All</option>
        <option value="active" selected="selected">Active</option>
        <option value="inactive">Inactive</option>
      </select>
    </div>
  </div>

  <div id="payee-payer-list"></div>

  {% csrf_token %}
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static 'payee_payers/js/index.js' %}"></script>
{% endblock %}
