{% if payee_payer_list %}
  {% for pp in payee_payer_list %}
    <div class="{% if pp.status == 'a' %}active{% else %}inactive{% endif %}">
      <div class="name" data-name="{{ pp.name }}">{{ pp.name }}</div>
      <div
        class="location"
        data-city="{% if pp.city %}{{ pp.city }}{% endif %}"
        data-province="{% if pp.province %}{{ pp.province }}{% endif %}"
        data-country="{% if pp.country %}{{ pp.country }}{% endif %}"
      >
        {% if pp.city %}
          {{ pp.city }}{% if pp.province or pp.country %},{% endif %}
        {% endif %}

        {% if pp.province %}
          {{ pp.province }}{% if pp.country %},{% endif %}
        {% endif %}

        {% if pp.country %}
          {{ pp.country }}
        {% endif %}
      </div>
      <div class="phone-fax">
        {% if pp.phone %}
          <div class="phone" data-phone="{{ pp.phone }}">
            <strong>Phone</strong>: {{ pp.phone }}
          </div>
        {% endif %}

        {% if pp.fax %}
          <div class="fax" data-fax="{{ pp.fax }}">
            <strong>Fax</strong>: {{ pp.fax }}
          </div>
        {% endif %}
      </div>
      <div class="email" data-email="{{ pp.email }}">
        {% if pp.email %}
          <strong>Email</strong>: {{ pp.email }}
        {% endif %}
      </div>
      <div class="buttons">
        <a href="{% url 'payee_payers:edit' pp.id %}" class="edit">Edit</a>
        <a href="{% url 'payee_payers:delete' pp.id %}" class="delete">Delete</a>
      </div>
    </div>
  {% endfor %}
{% endif %}
