.header {
  display: none;
}

.input-help {
  background-color: transparent;
  border: none;
  color: rgb(50, 50, 50);
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  transition: color ease-in-out 0.15s;
}

  .input-help::before {
    content: "\f059";
  }

  .input-help:hover {
    color: rgb(40, 120, 200);
  }

@media screen and (min-width: 768px) and (max-width: 1024px) {

}

@media screen and (min-width: 1024px) {
  #transaction-items label {
    display: none;
  }
}
