{% extends 'main/base.html' %}

{% load static %}

{% block styles %}
  <style>
    .filters {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    .filters ul {
      border: 1px solid rgb(69, 69, 69);
      display: inline-block;
      padding: 0;
      margin: 0.5rem;
    }

      .filters li {
        cursor: pointer;
        list-style: none;
        padding: 0.5rem;
        margin: 0;
        transition: all ease-in-out 0.3s;
      }

      .filters li:hover {
        background-color: rgb(200, 225, 255);
      }

      .filters li.selected {
        background-color: rgb(40, 120, 200);
        color: rgb(255, 255, 255);
      }

        .filters li.selected:hover {
          background-color: rgb(20, 95, 175);
          color: rgb(255, 255, 255);
        }

    .date-container label {
      display: inline-block;
      font-weight: 700;
      padding: 0.5rem;
      width: 12rem;
    }

    .status-container {
      padding-top: 2rem;
    }

      .status-container label {
        display: block;
        font-weight: 700;
        padding: 0.5rem;
      }

    .transactions {
      border: 1px solid rgb(69, 69, 69);
      list-style: none;
      margin: 0.5rem;
      max-height: 20rem;
      overflow-y: auto;
      padding: 0;
    }

      .transactions li {
        cursor: pointer;
        margin: 0;
        padding: 0.5rem;
        transition: all ease-in-out 0.3s;
      }

      .transactions li:hover {
        background-color: rgb(200, 225, 255);
      }

      .transactions li.selected {
        background-color: rgb(40, 120, 200);
        color: rgb(255, 255, 255);
      }

        .transactions li.selected:hover {
          background-color: rgb(20, 95, 175);
          color: rgb(255, 255, 255);
        }


    .transactions.unreconciled li.reconciled {
      display: none;
    }

    .transactions.reconciled li {
      display: none;
    }

    .transactions.reconciled li.reconciled {
      display: block;
    }

    .header {
      font-weight: 700;
      margin: 0 1rem;
    }

    .financial-item {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas: "date type description amount";
    }

      .financial-item .date {
        grid-area: date;
      }

      .financial-item .type {
        grid-area: type;
      }

      .financial-item .description {
        grid-area: description;
      }

      .financial-item .amount {
        grid-area: amount;
        justify-self: end;
      }

    .bank-item {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas: "date description debit credit";
    }

      .bank-item .date {
        grid-area: date;
      }

      .bank-item .description {
        grid-area: description;
      }

      .bank-item .debit {
        grid-area: debit;
        justify-self: end;
      }

      .bank-item .credit {
        grid-area: credit;
        justify-self: end;
      }

    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    @media screen and (min-width: 768px) {
      .filters {
        flex-direction: row;
        max-width: 800px;
      }

      .status-container {
        padding: 0 0 0 2rem;
      }

        .status-container label {
          display: inline-block;
          vertical-align: top;
        }
    }
  </style>
{% endblock %}

{% block content %}
  <h1>Banking Reconciliation</h1>

  <ul id="messages" class="message_list">
    {% for message in messages %}
      {% if message.level %}
        <li class="level_{{ message.level }}">{{ message }}</li>
      {% else %}
        <li>{{ message }}</li>
      {% endif %}
    {% endfor %}
  </ul>

  <h2>Financial Transactions</h2>

  <div class="filters">
    <div class="date-container">
      <div>
        <label>Start Date:</label>
        <input type="date" id="financial-start-date">
      </div>

      <div>
        <label>End Date:</label>
        <input type="date" id="financial-end-date">
      </div>
    </div>

    <div class="status-container">
      <label>Reconciled status:</label>

      <ul id="financial-reconciled-filter">
        <li class="selected">Unreconciled</li>
        <li>Reconciled</li>
        <li>All transactions</li>
      </ul>
    </div>
  </div>

  <div>
    <div class="financial-item header">
      <div class="date">Date</div>
      <div class="type">Type</div>
      <div class="description">Description</div>
      <div class="amount">Amount</div>
    </div>

    <ul id="financial-transactions" class="transactions unreconciled"></ul>
  </div>

  <h2>Banking Transactions</h2>

  <div class="filters">
      <div class="date-container">
        <div>
          <label>Start Date</label>
          <input type="date" id="bank-start-date">
        </div>

        <div>
          <label>End Date</label>
          <input type="date" id="bank-end-date">
        </div>
      </div>

    <div class="status-container">
      <label>Reconciled status:</label>

      <ul id="bank-reconciled-filter">
        <li class="selected">Unreconciled</li>
        <li>Reconciled</li>
        <li>All transactions</li>
      </ul>
    </div>
  </div>

  <div>
    <div class="bank-item header">
      <div class="date">Date</div>
      <div class="description">Description</div>
      <div class="debit">Debit</div>
      <div class="credit">Credit</div>
    </div>

    <ul id="bank-transactions" class="transactions unreconciled"></ul>
  </div>

  <div>
    <div>
      <strong>Financial Transaction Total:</strong>
      <span></span>
    </div>
    <div>
        <strong>Banking Transaction Total:</strong>
        <span></span>
    </div>
    <div>
      <strong>Discrepancy:</strong>
      <span></span>
    </div>
  </div>

  <div class="buttons">
    <button id="unmatch" class="delete">Unmatch transactions</button>
    <button id="match" class="save">Match transactions</button>
  </div>

  {% csrf_token %}
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static 'bank_reconcilation/js/index_functions.js' %}"></script>
{% endblock %}
