{% extends 'main/base.html' %}

{% load static %}

{% block styles %}
  <style>
    #reconciled-status-buttons button {
      border: none;
      border-radius: 1rem;
      cursor: pointer;
      padding: 1rem;
      font-size: 2rem;
      transition: all ease-in-out 0.4s;
    }

      #reconciled-status-buttons button:hover {
        background-color: rgb(150, 150, 150);
      }

      #reconciled-status-buttons button.selected {
        background-color: rgb(40, 120, 200);
        color: rgb(255, 255, 255);
      }

        #reconciled-status-buttons button.selected:hover {
          background-color: rgb(21, 64, 106);
        }


    .filters {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    .filters ul {
      border: 1px solid rgb(69, 69, 69);
      display: inline-block;
      padding: 0;
      margin: 0.5rem;
    }

      .filters li {
        cursor: pointer;
        list-style: none;
        padding: 0.5rem;
        margin: 0;
        transition: all ease-in-out 0.3s;
      }

      .filters li:hover {
        background-color: rgb(200, 225, 255);
      }

      .filters li.selected {
        background-color: rgb(40, 120, 200);
        color: rgb(255, 255, 255);
      }

        .filters li.selected:hover {
          background-color: rgb(20, 95, 175);
          color: rgb(255, 255, 255);
        }

    .date-container label {
      display: inline-block;
      font-weight: 700;
      padding: 0.5rem;
      width: 12rem;
    }

    .type-container {
      padding-top: 2rem;
    }

      .type-container label {
        display: block;
        font-weight: 700;
        padding: 0.5rem;
      }

    .status-container {
      padding-top: 2rem;
    }

      .status-container label {
        display: block;
        font-weight: 700;
        padding: 0.5rem;
      }

    .text-container {
      padding: 2rem 0 2rem 0.5rem;;
    }

      .text-container label {
        display: block;
        font-weight: 700;
      }

    .transactions {
      border: 1px solid rgb(69, 69, 69);
      list-style: none;
      margin: 0.5rem;
      max-height: 20rem;
      overflow-y: auto;
      padding: 0;
    }

      .transactions em {
        font-size: 1.5rem;
        font-weight: 700;
      }

      .transactions li {
        cursor: pointer;
        margin: 0;
        padding: 0.5rem;
        transition: all ease-in-out 0.3s;
      }

      .transactions li:hover {
        background-color: rgb(200, 225, 255);
      }

      .transactions li.selected {
        background-color: rgb(40, 120, 200);
        color: rgb(255, 255, 255);
      }

        .transactions li.selected:hover {
          background-color: rgb(20, 95, 175);
          color: rgb(255, 255, 255);
        }


    .transactions.unreconciled li.reconciled {
      display: none;
    }

    .transactions.reconciled li {
      display: none;
    }

    .transactions.reconciled li.reconciled {
      display: grid;
    }

    .negative {
      color: rgb(233, 74, 55);
    }

    .financial-item {
      display: flex;
      flex-direction: column;
    }

    .bank-item {
      display: flex;
      flex-direction: column;
    }

    .match-item {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      transition: all ease-in-out 0.3s;
    }

      .match-item em {
        font-size: 1.5rem;
        font-weight: 700;
      }

      .match-item.header {
        margin: 0;
      }

      .match-item:nth-child(even) {
        background-color: rgb(237, 244, 242);
      }

      .match-item .discrepancy {
        display: block;
      }

        .match-item .discrepancy .discrepancy-header,
        .match-item .discrepancy .discrepancy-amount {
            display: inline-block;
            font-weight: 700;
            padding: 0 0.5rem;
          }

      .match-item .financial,
      .match-item .bank {
        background-color: rgb(250, 250, 250);
        box-shadow: 2px 2px 3px 1px rgb(100, 100, 100);
        margin: 0.75rem 1rem;
        padding: 0.75rem;
      }

      .match-item:hover {
        background-color: rgb(200, 200, 200);
        cursor: pointer;
      }

      .match-item.selected {
        background-color: rgb(120, 190, 245);
      }

    .header {
      display: none;
    }


    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    @media screen and (min-width: 768px) {
      .filters {
        flex-direction: row;
        max-width: 900px;
      }

      .type-container {
        padding: 0 0 0 2rem;
      }

        .type-container label {
          display: inline-block;
          vertical-align: top;
        }

      .status-container {
        padding: 0 0 0 2rem;
      }

        .status-container label {
          display: inline-block;
          vertical-align: top;
        }

    .text-container {
      padding: 0 0 0 2rem;
    }

      .text-container label {
        display: inline-block;
        vertical-align: top;
      }


      .transactions em {
        display: none;
      }

      .header {
        font-weight: 700;
        margin: 0 1rem;
      }

      .financial-item {
        display: grid;
        grid-template-columns: 2fr 2fr 4fr 2fr;
        grid-template-areas: "date type description amount";
      }

        .financial-item .date {
          grid-area: date;
        }

        .financial-item .type {
          grid-area: type;
        }

        .financial-item .description {
          grid-area: description;
        }

        .financial-item .amount {
          grid-area: amount;
          justify-self: end;
        }

      .bank-item {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: "date description debit credit";
      }

        .bank-item .date {
          grid-area: date;
        }

        .bank-item .description {
          grid-area: description;
        }

        .bank-item .debit {
          grid-area: debit;
          justify-self: end;
        }

        .bank-item .credit {
          grid-area: credit;
          justify-self: end;
        }

      @media screen and (min-width: 1024px) {
        .match-item {
          display: grid;
          grid-template-areas:
            "financial bank"
            "discrepancy discrepancy";
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto;
        }


          .match-item .financial-transactions {
            grid-area: financial;
          }

          .match-item .banking-transactions {
            grid-area: bank;
          }

          .match-item .discrepancy {
            grid-area: discrepancy;
            justify-self: center;
          }

          .match-item > div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }

          .match-item em {
            display: none;
          }

          .match-item .financial {
            display: grid;
            font-size: 1.5rem;
            grid-template-columns: 10rem 8rem 1fr 10rem;
            grid-template-areas: "date type description amount";
          }

            .match-item .financial .date {
              grid-area: date;
            }

            .match-item .financial .type {
              grid-area: type;
            }

            .match-item .financial .description {
              grid-area: description;
            }

            .match-item .financial .amount {
              grid-area: amount;
              justify-self: end;
            }

            .match-item .financial.total-row {
              font-weight: 700;
            }

              .match-item .financial.total-row .total-header {
                grid-area: 1 / date / 1 / description;
                justify-self: end;
              }

              .match-item .financial.total-row .total-amount {
                grid-area: amount;
                justify-self: end;
              }

          .match-item .bank {
            display: grid;
            font-size: 1.5rem;
            grid-template-columns: 10rem 1fr 10rem;
            grid-template-areas: "date description amount";
          }
            .match-item .bank .date {
                grid-area: date;
              }

            .match-item .bank .description {
              grid-area: description;
            }

            .match-item .bank .amount {
              grid-area: amount;
              justify-self: end;
            }

            .match-item .bank.total-row {
              font-weight: 700;
            }

              .match-item .bank.total-row .total-header {
                grid-area: 1 / date / 1 / description;
                justify-self: end;
              }

              .match-item .bank.total-row .total-amount {
                grid-area: amount;
                justify-self: end;
              }
      }
    }
  </style>
{% endblock %}

{% block content %}
  <h1>Banking Reconciliation</h1>

  {% include 'main/messages.html' %}

  <div id="reconciled-status-buttons">
    <button id="button-reconcile-transactions" class="selected">Reconcile transactions</button>
    <button id="button-show-reconciled-transactions">Show reconciled transactions</button>
  </div>

  <h2>Financial Transactions</h2>

  <div class="filters">
    <div class="date-container">
      <div>
        <label>Start Date:</label>
        <input type="date" id="financial-start-date">
      </div>

      <div>
        <label>End Date:</label>
        <input type="date" id="financial-end-date">
      </div>
    </div>

    <div class="type-container">
      <label>Transaction Type</label>
      <select>
        <option value="e">Expense</option>
        <option value="r">Revenue</option>
        <option value="">All</option>
      </select>
    </div>

    <div class="text-container">
      <label>Text:</label>
      <input type="text" id="financial-text-filter">
    </div>
  </div>

  <div class="reconcile-div">
    <div class="financial-item header">
      <div class="date">Date</div>
      <div class="type">Type</div>
      <div class="description">Description</div>
      <div class="amount">Amount</div>
    </div>

    <ul id="financial-transactions" class="transactions"></ul>
  </div>

  <h2>Banking Transactions</h2>

  <div class="filters">
    <div class="date-container">
      <div>
        <label>Start Date</label>
        <input type="date" id="bank-start-date">
      </div>

      <div>
        <label>End Date</label>
        <input type="date" id="bank-end-date">
      </div>
    </div>

    <div class="text-container">
      <label>Text:</label>
      <input type="text" id="bank-text-filter">
    </div>
  </div>

  <div class="reconcile-div">
    <div class="bank-item header">
      <div class="date">Date</div>
      <div class="description">Description</div>
      <div class="debit">Debit</div>
      <div class="credit">Credit</div>
    </div>

    <ul id="bank-transactions" class="transactions"></ul>
  </div>

  <div class="reconcile-div">
    <div>
      <strong>Financial Transaction Total:</strong>
      <span id="financial-total"></span>
    </div>
    <div>
        <strong>Banking Transaction Total:</strong>
        <span id="banking-total"></span>
    </div>
    <div>
      <strong>Discrepancy:</strong>
      <span id="discrepancy"></span>
    </div>
  </div>

  <div class="reconcile-div">
      <button id="match" class="save">Match transactions</button>
  </div>

  <div class="unreconcile-div hide">
      <div class="match-item header">
        <div>Financial Transactions</div>
        <div>Banking Transactions</div>
      </div>

    <div id="reconciled-transactions"></div>

  </div>

  <div class="unreconcile-div hide">
    <button id="unmatch" class="delete">Unmatch transactions</button>
  </div>
  {% csrf_token %}
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static 'bank_reconcilation/js/index_functions.js' %}"></script>
{% endblock %}
