{% extends 'main/base.html' %}

{% load static %}

{% block styles %}
    <style>
        #financial-reconciled-filter li.selected, #bank-reconciled-filter li.selected {
            background-color: rgb(86, 239, 159);
        }

        #financial-transactions.unreconciled li.reconciled,
        #bank-transactions.unreconciled li.reconciled {
            display: none;
        }

        #financial-transactions.reconciled li,
        #bank-transactions.reconciled li {
            display: none;
        }

        #financial-transactions.reconciled li.reconciled,
        #bank-transactions.reconciled li.reconciled {
            display: block;
        }

        #financial-transactions li.selected,
        #bank-transactions li.selected {
            background-color: rgb(86, 239, 159);
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Banking Reconciliation</h1>

    <ul id="messages" class="message_list">
      {% for message in messages %}
        {% if message.level %}
          <li class="level_{{ message.level }}">{{ message }}</li>
        {% else %}
          <li>{{ message }}</li>
        {% endif %}
      {% endfor %}
  </ul>

    <div>
        <span>
            <label>Start Date</label>
            <input type="date" id="financial-start-date">
        </span>
        <span>
            <label>End Date</label>
            <input type="date" id="financial-end-date">
        </span>
        <span>
            <button id="financial-update">Update</button>
        </span>

        <ul id="financial-reconciled-filter">
            <li class="selected">Unreconciled</li>
            <li>Reconciled</li>
            <li>All transactions</li>
        </ul>

        <ul id="financial-transactions" class="unreconciled"></ul>
    </div>

    <div>
        <span>
            <label>Start Date</label>
            <input type="date" id="bank-start-date">
        </span>
        <span>
            <label>End Date</label>
            <input type="date" id="bank-end-date">
        </span>
        <span>
            <button id="bank-update">Update</button>
        </span>

        <ul id="bank-reconciled-filter">
            <li class="selected">Unreconciled</li>
            <li>Reconciled</li>
            <li>All transactions</li>
        </ul>

        <ul id="bank-transactions" class="unreconciled"></ul>
    </div>

    <div>
        <button id="match">Match transactions</button>
    </div>

    <div>
        <button id="unmatch">Unmatch transactions</button>
    </div>

	{% csrf_token %}
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'bank_reconcilation/js/index_functions.js' %}"></script>
{% endblock %}
