{% extends 'main/base.html' %}

{% load static %}

{% block content %}
    <h1>Payee and Payers</h1>
    
    {% include 'main/messages.html' %}

    <div>
        <a href="{% url 'payee_payers:add' %}">Add new entry</a>
    </div>

    <div>
        Search: <input type="text"><br>
        Status: <select><option>All</option></select>
    </div>

    <div id="payee-payer-list"></div>

	{% csrf_token %}
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'payee_payers/js/index.js' %}"></script>
{% endblock %}