{% extends 'main/base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
    
    <style>
        #id_address {
            height: 50px;
            resize: none;
            width: 100%;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Add New {{ page_name|title }}</h1>

    {% include 'main/messages.html' %}

    {% include 'main/form_and_formsets_add_edit.html' %}
{% endblock %}

{% block js %}
    {% include 'main/formset_template.html' %}

    <script type="text/javascript" src="{% static 'js/add_formset.js' %}"></script>
{% endblock %}